.datepicker {
    &__controls {
        form{
            display: flex;
            align-items: center;
        }
    }
    &__chevron_btn{
        display: flex;
        justify-content: space-between;
    }
    
    &__calendar_container > div{
        width: 470px;
    }
    &__calendar_container{
        display: flex;
    }
    &__calendar_week_days{
        display: flex;
        div {
            width: 60px;
            height: 60px;
            background: #669999;
            border: 3px solid #c2c2c2;
        }
    }
    &__calendar_days{
        flex-wrap: wrap;
        display: flex;
    }
    &__calendar_day{
        width: 60px;
        height: 60px;
        background: #669999;
        border: 3px solid #c2c2c2;
        &.inactive {
            opacity: 0.5;
        }
        &.selected {
            background: peru;
            opacity: 0.6;
        }
        &.today {
            color: red;
        }
    }
}
