.datepicker {
        max-width: 540px;

            position: absolute;
    top: 36%;
    left: 25%;
  &__controls {
    form {
      display: flex;
      align-items: center;
    }
  }
  &__chevron_btn {
    display: flex;
    justify-content: space-between;
  }
  &__calendar_container>div {
    width: 195px;
    margin-right: 20px;
  }
  &__calendar_container {
    display: flex;
  }
  &__calendar_month_name {
    color: #0279c1;
    text-align: center;
  }
  &__calendar_weeks{
      display: inline-block;
      float: left;
      div{
          height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
      }
  }
  &__calendar_week_days {
    display: flex;
    div {
      width: 24px;
      height: 24px;
      color: grey;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__calendar_days {
    flex-wrap: wrap;
    display: flex;
  }
  &__calendar_day {
    width: 24px;
    height: 24px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        cursor:pointer;
    }
    &.inactive {
      opacity: 0.5;
    }
    &.selected {
      background: #0279c1;
      color: white;
    }
    &.today {
      color: red;
    }
  }
}