.datepicker {
  max-width: 768px;
  height: 460.3px;
  position: absolute;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
  top: 36%;
  left: 25%;
  &__controls {
    form {
      display: flex;
      align-items: center;
    }
  }
  &__quarter {
    display: flex;
    border-bottom: 1px solid #dedede;
    margin-bottom: 26px;
    padding-bottom: 5px;
  }
  &__quarter_year {
    color: #aeb1b2;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 6px;
  }
  &__quarter_container {
    display: flex;
    margin-right: 16px
  }
  &__quarter_month {
    width: 41px;
    height: 36px;
    border: solid 1px #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    &.selected {
      border-color: #0279c1;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__quarter_num {
    text-align: center;
    color: #aeb1b2;
    font-size: 12px;
    font-weight: 600;
    padding-right: 16px;
    p {
      border-bottom: 1px solid;
      width: 16px;
      margin: 9px auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__chevron_btn {
    display: flex;
    justify-content: space-between;
    div {
      width: 40px;
      height: 36px;
      background-color: #fbfbfb;
      border: solid 1px #cccccc;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__calendar_container>div {
    width: 195px;
    margin-right: 20px;
  }
  &__calendar_container {
    display: flex;
  }
  &__calendar_month_name {
    color: #0279c1;
    text-align: center;
  }
  &__calendar_weeks {
    display: inline-block;
    float: left;
    div {
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #aaaaaa;
    }
  }
  &__calendar_week_days {
    display: flex;
    div {
      width: 24px;
      height: 24px;
      color: #aaaaaa;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__calendar_days {
    flex-wrap: wrap;
    display: flex;
  }
  &__calendar_day {
    width: 24px;
    height: 24px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
    &.inactive {
      opacity: 0.5;
    }
    &.today {
      color: red;
    }
  }
}

.selected {
  background: #0279c1;
  color: white;
}